{
  "root": true,
  "env": {
    "es6": true,
    "node": true,
    "es2021": true,
    "browser": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": "./tsconfig.json",
    "tsconfigRootDir": "./"
  },
  "plugins": [
    "import",
    "@typescript-eslint",
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:import/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".js"]
    },
    "import/resolver": {
      "typescript": {
        "paths": "./tsconfig.json",
        "alwaysTryTypes": true
      },
      "alias": {
        "map": [
          ["@", "./src"]
        ],
        "extensions": [".ts", ".js"]
      }
    }
  },
  "rules": {
    "prettier/prettier": "error",
    "node/no-missing-require": "off",
    "node/no-extraneous-require": "off",
    "node/no-extraneous-import": "off",
    "@typescript-eslint/no-non-null-assertion": 0
  }
}
